<!DOCTYPE html>
<html lang="en" ng-app="sportsStore">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Hector Caraballo">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>Sports Store</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>

    <!-- AngularJs-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script>
        angular.module('sportsStore', ['customFilters', 'cart', 'ngRoute'])
                .config(function($routeProvider){
                    $routeProvider
                            .when('/complete', {
                                templateUrl: 'app/views/thankYou.html'
                            })

                            .when('/placeorder', {
                                templateUrl: 'app/views/placeOrder.html'
                            })

                            .when('/checkout', {
                                templateUrl: 'app/views/checkoutSummary.html'
                            })

                            .when('/product', {
                                templateUrl: 'app/views/productList.html'
                            })

                            .otherwise({
                                templateUrl: 'app/views/productList.html'
                            });
                });
    </script>
    <script src="app/controllers/SportsStoreController.js"></script>
    <script src="app/controllers/ProductListController.js"></script>
    <script src="app/controllers/CheckoutSummaryController.js"></script>

    <!--Filters-->
    <script src="app/filters/CustomFilters.js"></script>

    <!--Components-->
    <script src="app/components/cart/Cart.js"></script>

</head>

<body ng-controller="SportsStoreController">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SPORT STORE</a>
        </div>
        <cart-summary />
    </div>
</nav>

<div class="wrapper">
    <!--Errors-->
    <div class="alert alert-danger" ng-show="data.error">
        Error:({{ data.error.status }}). The Product data was not loaded
        <a href="#/" class="alert-link">Click here to try again</a>
    </div>

<ng-view></ng-view>

<hr>
<footer class="footer">
    <div class="container">
        <p>&copy; Company 2014</p>
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script-->
<!--script-- src="../../dist/js/bootstrap.min.js"></script-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
</body>
</html>
