<div class="well" ng-controller="AuthController">

    <div class="alert alert-info" ng-hide="authtenticationError">
        Enter your name and password and click Log in to authenticate
    </div>

    <div class="alert alert-danger" ng-show="authtenticationError">
        Authentication Failed ({{ authtenticationError.status }}). Try again.
    </div>

    <form name="authForm" novalidate>

        <div class="form group">
            <label>Username</label>
            <input class="form-control" name="username" ng-model="username" required/>
        </div>

        <div class="form group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="password" required/>
        </div>
        <br/>
        <div class="text-center">
            <button ng-click="authenticate(username, password)"
                    ng-disabled="authForm.$invalid"
                    class="btn btn-primary">
                Log In
            </button>
        </div>

    </form>

</div>