<div class="well">
    <div class="panel panel-default row" ng-controller="MainController">
        <div class="col-xs-3 panel-body">
            <a ng-repeat="item in screens"
               ng-class="{'btn-primary': item == current}"
               ng-click="setScreen($index)"
               class="btn btn-block btn-default">
                {{ item }}
            </a>
        </div>
        <div class="col-xs-8 panel-body">
            <div ng-include="getScreen()" />
        </div>
    </div>
</div>