<style>
    .navbar-right { float: right !important; margin-right: 5px; }
    .navbar-text { margin-right: 10px;}
</style>

<div class="navbar-right">
    <div class="navbar-text">
        <b>Your cart:</b>
        {{ itemsCount() }} items(s),
        {{ total() | currency }}
    </div>
    <a href="#/checkout" class="btn btn-default navbar-btn">Checkout</a>
</div>