<h2>Your cart</h2>

<div ng-controller="CheckoutSummaryController">
    <div class="alert alert-warning" ng-show="cartData.length == 0">
        There are no products in your shopping cart.
        <a href="#/products" class="alert-link">Click here to return to the catalogue</a>
    </div>

    <div ng-hide="cartData.length == 0">
        <table class="table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cartData">
                <td class="text-center">{{ item.count }}</td>
                <td class="text-left">{{ item.name }}</td>
                <td class="text-right">{{ item.price | currency }}</td>
                <td class="text-right">{{ (item.price * item.count) | currency }}</td>
                <td>
                    <button ng-click="remove(item.id)"
                            class="btn btn-sm btn-warning">
                        Remove
                    </button>
                </td>
            </tr>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">{{ total() | currency }}</td>
            </tr>
            </tfoot>
            </tbody>
        </table>

        <div class="text-center">
            <a href="#/products" class="btn btn-primary">Continue shopping</a>
            <a href="#/placeorder" class="btn btn-primary">Place order now</a>
        </div>
    </div>
</div>