<!-- Example row of columns -->
<div class="panel panel-primary row" ng-controller="ProductListController" ng-hide="data.error">
    <div class="col-xs-3">
        <a class="btn btn-block btn-default btn-lg"
           ng-click="selectCategory()">Home</a>

        <a ng-repeat="item in data.products | orderBy: 'category'| unique:'category'"
           class="btn btn-block btn-default btn-lg"
           ng-class="getCategoryClass(item)"
           ng-click="selectCategory(item)">
            {{ item }}
        </a>
    </div>
    <div class="col-xs-8">
        <div class="well" ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
            <h3>
                <strong>{{ item.name }}</strong>
                    <span class="label label-primary pull-right">
                        {{ item.price | currency }}
                    </span>
            </h3>
            <button ng-click="addProductToCart(item)"
                    class="btn btn-success pull-right">
                Add to cart
            </button>
            <span class="lead">{{ item.description }}</span>
        </div>
        <div class="pull-right btn-group">
            <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
               class="btn btn-default" ng-class="getPageClass($index + 1)"
               ng-click="selectPage($index + 1)">
                {{ $index + 1 }}
            </a>
        </div>
    </div>
</div>
</div> <!-- /container -->